/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
h1, h2, h3, h4, h5, h6, h7 {
	font-family: "Raleway", san-serif, sans;
	font-weight: 300;
	color: #3d4997;
	text-transform: uppercase;
}	



/* Header 
-------------------------------------------------- */



	
#top-social ul{
	list-style: none outside;
}
	
#top-social ul li{
	float: left;
	margin: 0 5px 0 0;
}

/* Slider Bottom Bar */
#bottom-bar{
	position: relative;
	z-index: 15;
	background: url('../images/bottom-bar.png') repeat-x;
	height: 81px;	
}

h1#bottom-bar-title{
	margin: 20px 50px 0 50px;	
	font-size: 31px;
	color: #fff;
	font-weight: 900;
	float: left;
	
}

#bottom-bar-icons {
	margin: 10px 20px 0 0;
	float: right;
}

#bottom-bar-icons img{
	margin-right: 30px;
}


/* Main content area */

.main-content p {
	line-height: 30px;
}

.sidebar {
	border-left: 5px solid #d1d2d4;
	border-right: 5px solid #d1d2d4;
	background-color: #c3c4c6;
	width: 33.33333333333333%;
	float: left;
}

.inner {
	width: 100%;
	height: 100%;
	border-left: 12px solid #abadb0;
	border-right: 12px solid #abadb0;
	padding: 0 15px 0 15px;
}

#sidebar-contact{
  padding: 10px 5px 20px 5px;
  width: 95%;
  margin: auto;
  background-color: #fff;
}


#sidebar-contact h2 {
	margin: 0;
	font-weight: 200;
}

#sidebar-services {
	padding: 10px 5px 20px 5px;
  width: 95%;
  margin: auto;
}

#sidebar-services img{
	margin-top: 15px;	
}
/* footer */

#footer-container {
	background-color: #333333;	
}


/* NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
  background: url('../images/nav-bar.png') repeat-x;
  height: 43px;
}

.navbar-toggle {
position: relative;
float: right;
padding: 9px 10px;
margin-top: 5px;
margin-right: 15px;
margin-bottom: 8px;
background-color: transparent;
border: 1px solid transparent;
border-radius: 4px;
}

.navbar-brand {
float: left;
padding: 15px 15px;
font-size: 18px;
line-height: 13px;









